* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, white 20%, #5096ff 80%);
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
}

h2 {
    font-size: 32px;
    color: #333;
}

h3 {
    font-size: 20px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

h5 {
    font-size: 18px;
    color: #444;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


button {
    background-color: #007bff; /* Blue button color */
    color: #ffffff; /* White text */
    border: 1px solid #ffffff; /* Add a border for button feel */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: all 0.2s ease-in-out; /* Smooth transition for hover effects */
}

button:hover {
    background-color: #e55a00; /* Darker blue on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
    transform: translateY(-1px); /* Slight lift effect */
}

button:active {
    background-color: #003f7f; /* Even darker blue on click */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduce shadow on click */
    transform: translateY(0); /* Reset lift effect */
}


#loginBtn {
    width: 100%;
}